@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --background-color: #090717;
  --primary-color: #0d6efd;
  --secondary-color: ;
  --text-color: #fff;
  --text-color-muted: #6c757d;
}


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
}
.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

label {
    color: #ffffffd5;
}

.card.login-form {
  padding: 13px 1%;
  background-color: transparent;
  border: none;
  border-radius: 2px;
}

.btn-login {
  height: 35px;
  border-radius: 2px;
  font-weight: 500;
}

.link {
  text-decoration: none;
}

.content {
  position: relative;
  display: flex;
  width: 100%;
}

#logo-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pass-logo {
  position: absolute;
  height: 35px;
  width: 38px;
  background: transparent;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  border-radius: 3px 0 0 3px;
  margin-left: 3px;
}

.pass-logo-pass {
  position: absolute;
  height: 35px;
  width: 38px;
  background: transparent;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  border-radius: 3px 0 0 3px;
  border: 1px;
  margin-left: 86%;
}
@media (max-width: 300px) {
  .pass-logo-pass {
    position: absolute;
    height: 35px;
    width: 38px;
    background: transparent;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px 0 0 3px;
    border: 1px;
    margin-left: 82%;
  }
}
.pass-logo-pass .showPass,
.pass-logo-pass .showPass2 {
  background-color: transparent;
  border-color: transparent;
}

.content input {
  height: 100%;
  width: 100%;
  border: 1px solid #ffffff7c;
  color: #ffffffd5;
  border-radius: 2px;
  padding-left: 40px;
  outline: none;
  background: transparent;
}
.content input#password,
.content input#password_2 {
  padding-right: 45px;
}

.content .pass-logo i.bx,
.content .pass-logo-pass  i.fa-regular {
  color: #ffffffc0;
}

input.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: none;
  background: transparent;
  color: #fff;
}

input.form-control::placeholder {
  color: var(--text-color-muted) ;
}